@import "variables",
        "mixins";

@function white($opacity) {
  @return rgba(white, $opacity)
}

@function black($opacity) {
  @return rgba(black, $opacity)
}

* {
  padding:0;
  margin:0;
}

html {
}

body{
  font-family: "Open Sans";
}
